@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');
/*
Fonts:
- Poppin: 300, 400, 500, 600, 700, 800
- Rubik: 300, 400, 500, 600
*/

:root {
    --primary-color: #ff6b6b;
    --secondary-color: #794afa; 
    --secondary-dark-colir: #453c5c;
    
    --white-color: #ffffff;
    --light-bg-color: #f2f3f5; 
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    -font-small: 
}